@model AvailableWorkplacesViewModel

@{
    ViewData["Title"] = "Free reservations";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>

    <div class="text-center">

        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th>Floor</th>
                <th>Room </th>
                <th>Table</th>
                <th>Equipment on the table</th>
                <th>Reserve</th>
            </tr>
            @foreach (var d in Model.Workplaces)
            {
                <tr>
                    <td>@Html.DisplayFor(model => d.Floor)</td>
                    <td>@Html.DisplayFor(model => d.Room)</td>
                    <td>@Html.DisplayFor(model => d.TableNumber)</td>
                    <td>
                        @foreach (var equipment in d.EquipmentOnWorkplace)
                        {
                            @Html.DisplayFor(model => equipment.Key)
                            @Html.DisplayFor(model => equipment.Value)
                            <br>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("CreateNewReservation", "Reservation", FormMethod.Post))
                        {
                            <input type="text" value="@d.WorkplaceId" name="WorkplaceId" hidden>
                            <input type="submit" value="Reserve" placeholder="Reserve"/>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
</body>
</html>